swagger: "2.0"
info:
  description: Use swagger to control GoBGP
  version: "1.0.0"
  title: GoBGP API in connxion fashion
consumes:
  - "application/json"
produces:
  - "application/json"

basePath: "/api"

paths:
  /route:
    get:
      operationId: route.read
      tags:
        - GoBGP
      summary: List all BGP information in RIB
      description: Read the list of RIB
      produces:
        - text/plain
      responses:
        200:
          description: "Successful RIB list operation"
          schema:
            type: string
      security:
        - basic: []
    post:
      operationId: route.create
      tags:
        - GoBGP
      summary: Insert a BGP information in RIB
      description: Create a new BGP
      parameters:
        - name: str_para
          in: body
          description: BGP information to create
          required: True
          schema:
            type: object
            properties:
              para:
                type: string
                description: The properity of the route
                example: "10.10.13.0/24"
      responses:
        200:
          description: Successfully created BGP in list
      security:
        - basic: []
    put:
      operationId: route.delete
      tags:
        - GoBGP
      summary: Delete a BGP information in RIB
      description: Delete a BGP in RIB
      parameters:
        - name: str_para
          in: body 
          description: Path to delete
          required: True
          schema:
            type: object
            properties:
              para:
                type: string
                description: The properity of the route
                example: "10.10.13.0/24"
      responses:
        200:
          description: Successfully delete route in RIB
      security:
        - basic: []
  /neighbor:
    get:
      operationId: neighbor.read
      tags:
        - GoBGP
      summary: List all BGP information in RIB
      description: Read the list of RIB
      produces:
        - text/plain
      responses:
        200:
          description: "Successful RIB list operation"
          schema:
            type: string
      security:
        - basic: []
    post:
      operationId: neighbor.create
      tags:
        - GoBGP
      summary: Insert a BGP information in RIB
      description: Create a new BGP
      parameters:
        - name: str_para
          in: body
          description: BGP information to create
          required: True
          schema:
            type: object
            properties:
              para:
                type: string
                description: The properity of the neighbor
                example: "10.10.15.2 as 65500"
      responses:
        200:
          description: Successfully created BGP in list
      security:
        - basic: []
    put:
      operationId: neighbor.delete
      tags:
        - GoBGP
      summary: Delete a BGP information in RIB
      description: Delete a BGP in RIB
      parameters:
        - name: str_para
          in: body
          description: Path to delete
          required: True
          schema:
            type: object
            properties:
              para:
                type: string
                description: The properity of the neighbor
                example: "10.10.15.2"
      responses:
        200:
          description: Successfully delete neighbor
      security:
        - basic: []
securityDefinitions:
  basic:
    type: basic
    x-basicInfoFunc: server.basic_auth
